@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;